<%= form_for(ticket, html: {class: 'form-inline'}) do |f| %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class='actions'>
    <%= f.submit 'assign to me', class: 'btn btn-success self-assign' %>
  </div>
<% end %>
