/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *=require bootstrap-datepicker
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "bootstrap-datepicker";

html {
  font-size: 12px;
}

.auth-btn {
  right: 0;
  position: absolute;
}

.footer {
  background-color: #f5f5f5;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.ticket-row {
  display: flex;
  width: 100%;
}

.ticket-header {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 15px;
}

.ticket-display {
  margin-bottom: 10px;
}

.show-tickets {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;

  .ticket-col-1 {
    width: 3%;
  }

  .ticket-col-2 {
    width: 12%;
  }

  .ticket-col-3 {
    width: 10%;
  }

  .ticket-col-4 {
    width: 7%;
  }

  .ticket-col-5 {
    width: 7%;
  }

  .ticket-col-6 {
    width: 16%;
  }
}

.page-body {
  max-height: fit-content;
  margin-top: 60px;
  margin-bottom: 70px;

  .search-pane {
    border: 3px solid whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    background: whitesmoke;
    border-radius: 16px;
    margin-bottom: 19px;

    .download-csv {
      margin-top: 25px;
      font-weight: bold;
      font-size: 16px;
    }

    .search-form {
      .glyphicon-search {
        margin-top: 21px;
      }

      .date-box {
        margin-top: 2px;
      }
    }
  }
}

.pull-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.field_with_errors {
  display: contents;
}
