// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[data-controller="profiles"] {

  &[data-action=index] {
    .users {
      .ticket-count {
        padding-left: 52px;
      }

      .actions {
        .delete-account {
          margin-left: 3px;
        }
      }
    }
  }

  &[data-action=show] {
    .profile {
      margin-top: 100px;
      text-align: -webkit-center;

      .user {
        line-height: 41px;

        label {
          line-height: 41px;
          font-size: 1.5rem;
        }
      }

      .user-type {
        background: aliceblue;
        border: 4px solid whitesmoke;
        border-radius: 16px;
        font-weight: 900;
        padding: 4px;
        width: fit-content;
      }
    }
  }

  .file-upload {
    margin-left: 28px;
  }
}
