// Place all the styles related to the tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[data-controller="tickets"] {

  &[data-action=show] {
    .ticket-details {
      border: 5px solid whitesmoke;
      width: 75%;
      margin-bottom: 38px;

      .update-priority {
        position: absolute;
        margin-left: -32px;
        margin-top: 16px;

        .priority-dropdown {
          float: left;
          font-style: italic;
          font-size: 9px;
        }

        .actions {
          float: left;
          font-size: 10px;
          margin-left: 4px;

          .btn {
            font-size: 9px;
          }
        }
      }

      .message {
        font-size: 12px;
        max-height: 340px;
        overflow-x: auto;
      }

      .status {
        text-align: center;

        span {
          background: #f1f1f1;
          border-radius: 15px;
          padding: 2px;
        }
      }

      .title {
        font-weight: 600;
        font-size: 25px;
        text-align: center;
      }
    }

    .add-comment {
      .actions {
        margin: 16px;

        .send-comment {
          font-style: italic;
          font-size: 10px;
        }

        .send-comment-close-ticket {
          margin-left: 56px;
        }
      }

      .comment-text {
        min-width: 380px;
      }
    }

    .comment-author,
    .user-comment {
      display: flex;
      margin-bottom: 41px;

      .comment-avatar {
        margin-right: 10px;
      }

      .avatar {
        position: relative;
      }

      .user-avatar {
        border-radius: 50%;
      }

      ul {
        list-style: none;
      }

      .meta-group {
        padding-left: 0px;
      }

      .avatar img {
        height: 40px;
        width: 40px;
      }
    }

    .comment-author {
      .comment-meta {
        flex: 1 0 auto;
      }

      .assignee {
        font-weight: 100;
        font-style: italic;
        font-size: 11px;
        padding-top: 16px;

        .user-priority {
          font-size: 20px;
          margin-left: -36px;
          font-family: initial;
        }

        .assignee-label {
          margin-left: -8px;
        }

        .name {
          background: #d8e5fd;
          border-radius: 15px;
          padding: 2px;
        }
      }

      .meta-data {
        color: #666;
        font-size: 13px;
        font-weight: 300;
      }
    }
  }

  &[data-action=index] {
    .tickets-not-available {
      text-align: center;
      font-size: 20px;
      font-style: italic;
      font-weight: 100;
      margin-top: 120px;
    }

    .create-tickets {
      text-align: right;
      margin-bottom: 11px;
    }

    .available-tickets {
      table-layout: fixed;

      tr,
      td {
        overflow: hidden;

        .actions {
          display: flex;

          .delete-ticket {
            margin-left: 18px;
          }
        }
      }

      .ticket-id {
        width: 55px;
      }

      .number-of-comments {
        width: 80px;
      }

      .actions {
        .self-assign {
          font-size: 10px;
        }

        .admin-assign {
          margin-left: 10px;
        }
      }

      .message-count {
        text-align: center;
      }
    }
  }

  &[data-action=new],
  &[data-action=create],
  &[data-action=edit] {
    .ticket-text {
      height: 190px;
    }
  }
}
